*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#050505;
color:white;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
position:sticky;
top:0;
background:rgba(0,0,0,0.7);
backdrop-filter:blur(10px);
z-index:1000;
}

.logo{
font-size:30px;
font-weight:700;
color:gold;
}

nav ul{
display:flex;
gap:25px;
list-style:none;
}

nav ul li a{
text-decoration:none;
color:white;
transition:0.3s;
}

nav ul li a:hover{
color:gold;
}

.hero{
height:100vh;
display:flex;
align-items:center;
padding:0 8%;
background:
linear-gradient(
rgba(0,0,0,0.7),
rgba(0,0,0,0.7)),
url('https://images.unsplash.com/photo-1515886657613-9f3515b0c78f');
background-size:cover;
background-position:center;
}

.hero-text h1{
font-size:80px;
line-height:90px;
}

.hero-text span{
color:gold;
}

.hero-text p{
margin:20px 0;
font-size:20px;
}

.hero button{
padding:15px 40px;
border:none;
border-radius:40px;
background:
linear-gradient(
45deg,
gold,
orange);
font-size:18px;
cursor:pointer;
font-weight:600;
transition:0.4s;
}

.hero button:hover{
transform:scale(1.08);
}

.categories,
.products,
.reviews,
.add-review{
padding:80px 8%;
}

h2{
font-size:40px;
margin-bottom:40px;
}

.category-container,
.product-container{
display:grid;
grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));
gap:30px;
}

.cat,
.card{
background:#111;
border-radius:20px;
overflow:hidden;
transition:0.4s;
box-shadow:
0 0 20px rgba(255,215,0,0.1);
}

.cat:hover,
.card:hover{
transform:
translateY(-10px)
scale(1.03);
}

.cat img,
.card img{
width:100%;
height:280px;
object-fit:cover;
}

.cat p,
.card h3{
padding:20px;
font-size:24px;
}

.price{
padding:0 20px;
color:gold;
font-size:22px;
}

.card button{
margin:20px;
padding:12px 25px;
border:none;
border-radius:30px;
background:
linear-gradient(
45deg,
gold,
orange);
cursor:pointer;
font-weight:600;
}

.review-box{
background:#111;
padding:25px;
border-radius:20px;
margin-bottom:20px;
}

.add-review input,
.add-review textarea{
width:100%;
padding:15px;
margin-bottom:20px;
border:none;
border-radius:15px;
background:#111;
color:white;
}

.add-review button{
padding:14px 35px;
border:none;
border-radius:30px;
background:
linear-gradient(
45deg,
gold,
orange);
font-weight:600;
cursor:pointer;
}

footer{
padding:40px;
text-align:center;
background:#000;
margin-top:50px;
}
